.store_locator_loder {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/website_store_locator/static/src/img/odoo-store-loader_loader.GIF) center no-repeat rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px white;
}

.stores-location .panel.panel-default {
    border-radius: 0px;
}

.stores-location .panel-heading {
    width: 100%;
}

.stores-location .panel-body {
    padding: 0px;
}

.reset-loc {
    margin-left: 10px;
}

.stores-location #googleMap,
.stores-location #store-menus {
    height: 540px;
    padding: 0px;
}

.stores-location #store-menus {
    padding: 0px;
    margin: 0px;
}

.store-menu {
    height: 493px;
    overflow-y: scroll;
    background-color: #E7E7E7;
    padding-bottom: 10px;
}

.store-lable {
    font-size: 16px;
    border-radius: 16px;
    padding-top: 6px;
}

.list-class {
    font-size: 18px;
    color: #4d4d4d;
}

.search-text {
    font-size: 1.3em;
    font-weight: 700;
    color: #777777;
}

li.shop-hidden {
    display: none !important;
}

.selected {
    border-top: 4px solid rgba(6, 38, 71, 1);
    background-position: 0 100%;
    color: #555555;
    padding-top: 4px !important;
}


/*store menu list design*/

.store-menu ul li {
    height: 109px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    color: #333333;
    margin-top: 6px;
    margin-bottom: -6px;
}

div.store-list {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    z-index: 100;
    height: 100px;
    border-radius: 2px;
    padding-top: 8px;
    padding-left: 6px;
    line-height: 1.3;
    overflow: hidden;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #EAEAEA 50%);
    -webkit-transition: background-position .3s;
    -moz-transition: background-position .3s;
    transition: background-position .3s;
}

div.store-list:hover {
    background-position: 0 100%;
}

.store-info .web-addr,
div.store-list .store-contact,
.store-info .store-image {
    display: none;
}

.store-not-found {
    font-size: 20px;
    font-weight: 900;
    height: auto !important;
    margin-top: 35px !important;
    padding-left: 22% !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.extra-information.alert-info {
    margin: 0px;
    border-radius: 0px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
