#edit_product
{cursor:pointer;}

#clear{
    cursor:pointer;
    margin-left:4.2px;
    font-size:20px;
    overflow: hidden;
}

.strikke{
    text-decoration:line-through;
}

.cutom_div_list{
    display:none;
}
.tablecustom > tbody > tr > td{
    padding:3px
}
 .check{
    height:11px;
    width:30px;
    margin:0px;
}
.moveScroll input[type="checkbox"]{margin:0;}


.customrow{
    margin: 20px 0px 0px 50px;
}
.customrow2{
    margin: 50px 0px 0px 50px;
}
.customrow3{
    margin: 50px 0px 100px 0px;
}
.customdiv{
    margin-left:150px;
}
.custommodel1{
    float:left;
}
.custommodel2{
    float:right;
}
.cusromcol-md-9{
    margin-bottom:20px;
}
.customsearch{
    margin-right:30px;
}
.custompager{
    margin-top:5px;
    margin-left:30px;
}

.custom-h5{
    color:white;
}
.custom-delete{
    margin-left: 7px
}
.custom-input-total{
    border:0px transparent;
    background:white;
    width:80px;
}
.custom-price {
    min-width:80px;
    padding: 0px;
}
.custom_manage_all
{
    margin-top:13px;
}
.custom_total{
    margin-left:10px;
}
